<!DOCTYPE html>
<html>

<head>
    <meta content="webkit" name="renderer" />
    <title>长江大学实验室与国有资产管理处</title><META Name="keywords" Content="长江大学实验室与国有资产管理处" />

    

    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" media="all">
    <link rel="stylesheet" type="text/css" href="css/theme.css" media="all">
    <link rel="stylesheet" type="text/css" href="css/custom.css" media="all">
    <link rel="stylesheet" href="css/owl.carousel.css">
    <link rel="stylesheet" href="css/owl.theme.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" href="other/font/iconfont.css">
    <link rel="stylesheet" href="other/iconfont.css">



    <link rel="stylesheet" type="text/css" href="css/_sitegray_d.css" />

    <!--nav-->
    <link rel="stylesheet" type="text/css" href="css/nav.css" />

    <script language="javascript" src="js/_sitegray.js"></script>
   
    <link rel="stylesheet" type="text/css" href="css/index.vsb.css" />

    <script type="text/javascript" src="js/counter.js"></script>


    <style>
        body {
            background-color: #EEEBEA !important;
        }

        #search {
            position: absolute;
            right: 10px;
            top: 30px;}

        #search input {
            width: 225px;
            height: 25px;
            line-height: 25px;
            background-color: #ffffff;
            color: #666;
            padding:0px;            
            vertical-align: center;
            outline: 0;
            border: 0;
            float: left;}

        #search ::-webkit-input-placeholder {
            color: #ffffff;}

        #search :-ms-input-placeholder {
            color: #ffffff;}

        #search span {
            display: inline-block;
            width: 30px;
            height: 35px;
            line-height: 35px;
            text-align: center;
            float: left;
            /*     background-color: #afa060; */
            /* background-color: #ffffff50;  */
            background-color: rgba(255, 255, 255, 0.5);}

        #search span i {
            font-size: 20px;
            color: #fff;
            cursor: pointer;}

        #search p:nth-of-type(1) {
            color: #ffffff;
            font-size: 12px;
            text-align: right;
            margin-bottom: 20px;}


        /*imgShow*/
        #myCarousel img {
            display: block;
            width: 100%;
            height: 300px;
            margin: 0 auto;}

        #myCarousel .item {
            width: 100%;}

        #myCarousel .carousel-caption {
            width: 100%;
            text-align: center;
            margin-left: -80px;
            margin-bottom: 20px;}

        #myCarousel .carousel-indicators li {
            background-color: #fff;}

        #myCarousel .carousel-indicators .active {
            background-color: #AFA060;
            width: 30px;}
            
        .li-a{
              margin-top: -10px;}
        
        .index_tab_b {
            background-color: #fff;
            margin-bottom: 30px;
            height: 300px;}


        .index_tab_c a {
            color: #6A6A6A !important;}

        .index_tab_c span {
            color: #B2B2B2;}

        .index_tab {
            border-bottom: 1px solid #e2e2e2;}

        .index_tab .more {
            color: #b3b3b3;
            display: block;
            float: right;
            font-size: 14px;
            padding-right: 10px;
            padding-left: 10px;
            padding-top: 10px;}


        .li-a p {
            font-size: 14px;
            width: 95%;

            margin-left: 11px;
            display: flex;
            justify-content: space-between;}

      .li-a p span {
            width: 50%;
             border: 1px solid #72040B;
             text-align: center;
            border-radius: 50px;
            padding: 4px 0;}

        .li-a p a {
            font-weight: bolder;
            padding: 4px 0;
            letter-spacing:3px;}

        .li-a p span:hover {
            border: 1px solid red;}
            
         .li-a p span:hover  a{
              color: #72040B !important;}
              
        .li-a p span:nth-of-type(2) {
            float: left ;
            margin-left: 10px;}
    </style>
<!--Announced by Visual SiteBuilder 9-->
<link rel="stylesheet" type="text/css" href="_sitegray/_sitegray_d.css" />
<script language="javascript" src="_sitegray/_sitegray.js"></script>
<!-- CustomerNO:7765626265723230747f475752515742000100014157 -->
<link rel="stylesheet" type="text/css" href="index.vsb.css" />
<script type="text/javascript" src="/system/resource/js/vsbscreen.min.js" id="_vsbscreen" devices="pc|pad"></script>
<script type="text/javascript" src="/system/resource/js/counter.js"></script>
<script type="text/javascript">_jsq_(1001,'/index.jsp',-1,1462318662)</script>
</head>

<body ontouchstart="">

    <div id="app">

        <div class="main_header type1">
            <div class="header_parent_wrap">

                <header class="uniform_color">
                    <div class="container"><a class="top_menu_toggler" href="javascript:void(0)"></a>
                        <div class="logo_sect"><a class="logo" href="index.htm">
                                <!--pc端-->
                                <img class="logo_def" alt="" src="images/logo.png" style="width: 950px; height: 120px;">
                                <!--移动端-->
                                <img class="logo_retina" alt="" src="images/logo.png">
                            </a>
                        </div>
                        
                        <div id="search">
                            <p id="timer" style="font-size:15px;"></p>
                            <div style="margin-top:50px;">
                            <script type="text/javascript">
    function _nl_ys_check() {

        var keyword = document.getElementById('showkeycode1018837').value;
        if(keyword == null || keyword == "") {
            alert("请输入你要检索的内容！");
            return false;
        }
        if(window.toFF == 1) {
            document.getElementById("lucenenewssearchkey1018837").value = Simplized(keyword);
        } else {
            document.getElementById("lucenenewssearchkey1018837").value = keyword;
        }
        var base64 = new Base64();
        document.getElementById("lucenenewssearchkey1018837").value = base64.encode(document.getElementById("lucenenewssearchkey1018837").value);
        new VsbFormFunc().disableAutoEnable(document.getElementById("showkeycode1018837"));
        return true;
    }
</script>


<form action="new_search.jsp?wbtreeid=1001" method="post" id="au0a" name="au0a" onsubmit="return _nl_ys_check()">
<input type="hidden" id="lucenenewssearchkey1018837" name="lucenenewssearchkey" value=""><input type="hidden" id="_lucenesearchtype1018837" name="_lucenesearchtype" value="1"><input type="hidden" id="searchScope1018837" name="searchScope" value="1">
<input name="showkeycode" id="showkeycode1018837" value="" placeholder="全文检索" class="text">
<input type="submit" class="submit" value="搜索" style="width:50px;color:black">
</form><script language="javascript" src="/system/resource/js/base64.js"></script><script language="javascript" src="/system/resource/js/formfunc.js"></script>

                            </div>
                                      
                        </div>
                    </div>


                    <!--nav导航栏-->
                    <!-- <div class="navp"
                        style="width: 100%;height: 30px;line-height: 30px;background-color: #ffffff !important;display: block;z-index: 101;position: relative;">
                    
                         <p
                            style="background-color: #C5797D;width: 100%;height:10px;z-index: 100;position: relative;top: -10px;">
                        </p>
                        <nav style="position:relative;top:-18px;left:5%;">
                            <ul class="menu">
                                <li class="firstLi" v-for="(firstList,index) in nav" :
                                
                                ="firstList.title">
                                    <a :href="firstList.href">{{firstList.title}}</a>
                                    <ul class="secondeLi">
                                        <li v-for="(secondList,index) in firstList.value">
                                            <a :href="secondList.href">{{secondList.title}}</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>  -->

                    <div class="navp">
                        <p>
                        </p>
                        <nav>
<ul class="menu">
    
    <LI class="firstLi">
        <A href="index.htm"><span>首页</span></A>

    </LI>
    
    
    <LI class="firstLi">
        <A href="danye.html"><span>部门概况</span></A>
        <ul class="secondeLi">
        <li><a href="2-1.html"><span>部门简介</span></a></li>
        <li><a href="2-2.html"><span>现任领导</span></a></li>
        <li><a href="2-3.html"><span>科室设置</span></a></li>
        </ul>

    </LI>

    
    
    <LI class="firstLi">
        <A href="3-1.html"><span>部门管理</span></A>
        <ul class="secondeLi">
        <li><a href="#"><span>工作职责</span></a></li>
        <li><a href="#"><span>工作流程</span></a></li>
        <li><a href="#"><span>工作制度</span></a></li>
          </ul>

    </LI>
    
    
    <LI class="firstLi">
        <A href="4-1.html"><span>部门服务</span></A>
        <ul class="secondeLi">
        <li><a href="#"><span>办事指南</span></a></li>
        <li><a href="#"><span>国资手册</span></a></li>
        <li><a href="#"><span>服务指南</span></a></li>
          </ul>

    </LI>
    
    
    <LI class="firstLi">
        <A href="5-1.html"><span>文化建设</span></A>
        <ul class="secondeLi">
        <li><a href="5-1.html"><span>建设方案</span></a></li>
        <li><a href="5-2.html"><span>文化展牌</span></a></li>
          </ul>

    </LI>
    
    
    <LI class="firstLi">
        <A href="6-1.html"><span>队伍建设</span></A>
        <ul class="secondeLi">
        <li><a href="#"><span>建设方案</span></a></li>
        <li><a href="#"><span>建设工作</span></a></li>
          </ul>

    </LI>
    
    
    <LI class="firstLi">
        <A href="7-1.html"><span>支部建设</span></A>
        <ul class="secondeLi">
        <li><a href="7-1.html"><span>建设方案</span></a></li>
        <li><a href="#"><span>建设工作</span></a></li>
        <li><a href="#"><span>学习实践</span></a></li>
          </ul>

    </LI>
    
    
    <LI class="firstLi">
        <A href="https://cwc.yangtzeu.edu.cn/new_suggestion.jsp?urltype=tree.TreeTempUrl&wbtreeid=1110"><span>意见征集</span></A>

    </LI>
    
    
    <LI class="firstLi">
        <A href="9-1.html"><span>下载中心</span></A>

    </LI>
    
</ul>
                        </nav>
                    </div>
                </header>

            </div>
        </div>



        <!--宣传图-->
        <!--   <div id="owl-demo" class="owl-carousel owl-theme">
            <div class="item" style="position: relative;">

                <span @click="left()" v-show="isleft"
                    style="cursor: pointer;position: absolute;left: 12%;top:50%;z-index: 100;display: block;width: 20px;height: 50px;line-height: 50px;background-color: #00000050;">
                    <i class="iconfont" style="font-size: 20px;color: #fff;">&#xe61c;</i>
                </span>
                <img :src="imgSrc[imgIndex]" style="height: 350px;">
                <span @click="right()" v-show="isright"
                    style="cursor: pointer;position: absolute;right: 12%;top:50%;z-index: 100;display: block;width: 20px;height: 50px;line-height: 50px;background-color: #00000050;">
                    <i class="iconfont" style="font-size: 20px;color: #fff;">&#xe7a7;</i>
                </span>

                <div style="position: absolute;bottom: 10%;right: 10%;z-index: 100;">
                    <span v-for="(item, index) in imgSrc" :key="index" :class="{active:isActive(index)} "
                        style="background-color: #00000050;position: relative;bottom: 10%;right: 10%;width: 20px;height: 20px;display: inline-block;border-radius: 50%;margin-right: 5px;">
                    </span>
                </div>

            </div>
        </div> -->
        <div id="owl-demo" class="owl-carousel owl-theme">
            <script language="javascript" src="js/dynclicks.js"></script>

<!--             <div class="item">
                <a href="https://zzb.yangtzeu.edu.cn/zzb/bwcx/index.htm"><img src="images/carousel/n7.png"></a>
            </div>

            <div class="item">
                <img src="images/carousel/n5.jpg" border="0"> 
            </div>
            
            <div class="item">
                <img src="images/carousel/n3.jpg" border="0"> 
            </div> -->
            
            <div class="item">
                <img src="images/carousel/n2.jpg" border="0">
            </div>

        </div>


    </div>
    <!--app-->
    <!--post-->
    <br />
    <!--上一列-->


    <div class="container">
        <div class="row">


            <div class="col-md-4  col-xs-12 animate" data-anim-type="fadeInUp" data-anim-delay="300">
                <div class="index_tab_b"><script language="javascript" src="/system/resource/js/dynclicks.js"></script><script language="javascript" src="/system/resource/js/jquery/jquery-latest.min.js"></script><script language="javascript" src="/system/resource/js/centerCutImg.js"></script>                        <!-- 轮播（Carousel）指标 -->
                        <div id="myCarousel" class="carousel slide">
                        <ol class="carousel-indicators">
                  
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="1"></li>
                            <li data-target="#myCarousel" data-slide-to="2"></li>


                        </ol>

                        <!-- 轮播（Carousel）项目 -->
                        <div class="carousel-inner">
<!-- 轮播开始 -->
                            <div class="item active">
                            <a href="https://gzc.yangtzeu.edu.cn/info/1067/4897.htm" title="省财政厅来校调研“双一流”建设工作情况">
                                <img src="images/3.jpg" />
                                <div class="carousel-caption">国资处主题党日活动</div>
                            </a>
                            </div>

                            <div class="item">
                            <a href="https://gzc.yangtzeu.edu.cn/info/1067/4899.htm" title="实验室与国有资产管理处党支部柳彦彬为全处党员讲党课">
                                <img src="images/2.jpg" />
                                <div class="carousel-caption">召开党风廉政建设</div>
                            </a>
                            </div>
                            <div class="item ">
                            <a href="https://zzb.yangtzeu.edu.cn/zzb/bwcx/index.htm" title="实验室与国有资产管理处开展财务工作业务培训会">
                                <img src="images/1.jpg" />
                                <div class="carousel-caption">学习习近平新时代中国特色社会主义思想主题教育</div>
                            </a>
                            </div>
                            
<!-- 轮播over-->
                        </div>
                        </div><script>_showDynClickBatch(['dynclicks_u2_7046'],[7046],"wbnews", 1462318662)</script>
</div>
            </div>


       
            <div class="col-md-4  col-xs-12 animate" data-anim-type="fadeInUp" data-anim-delay="300">
                <div class="index_tab_b">
                    <ul class="index_tab">
                        <li onclick="changURL(11,[12])"><a class="tabulous_active" title="点击查看更多" href="ggl/tzgg.htm" target="_blank">通知公告</a></li>
                        <li onclick="changURL(12,[11])"><a title="点击查看更多" href="ggl/dktz.htm" target="_blank">重点项目进度</a> </li>

                        <!--<li onclick="changURL(12,[11])"><a title="图片新闻">图片新闻</a> </li>-->
                        <a id="u11" class="index_tab_more" href="ggl/tzgg.htm" target="_blank" style="display:''">
                            <span class="more">more></span>
                        </a>
                        <a id="u12" class="index_tab_more" href="ggl/dktz.htm" target="_blank" style="display:none">
                            <span class="more">more></span>
                        </a>

                  
                    </ul>


                    <div class="index_tab_c">
                        <div><script language="javascript" src="/system/resource/js/ajax.js"></script><UL>
<li><span>2023-08-20</span><a href="info/1125/7022.htm" target="_blank" title="点击查看更多">实验室与国有资产管理处关于学生缴纳2023-2024学年学...</a></li>
<li><span>2023-07-14</span><a href="info/1125/7019.htm" target="_blank" title="点击查看更多">实验室与国有资产管理处微信公众号“通知消息”更新通知</a></li>
<li><span>2023-07-11</span><a href="newar.jsp?urltype=news.NewsContentUrl&wbtreeid=1125&wbnewsid=7016" target="_blank" title="点击查看更多">关于开展学校2023年省级预算项目绩效运...</a></li>
<li><span>2023-07-11</span><a href="newar.jsp?urltype=news.NewsContentUrl&wbtreeid=1125&wbnewsid=7015" target="_blank" title="点击查看更多">关于编报学校2024年预算“一上”阶段有...</a></li>
<li><span>2023-07-10</span><a href="newar.jsp?urltype=news.NewsContentUrl&wbtreeid=1125&wbnewsid=7014" target="_blank" title="点击查看更多">实验室与国有资产管理处关于2023年暑期财务服务工作...</a></li>
<li><span>2023-07-04</span><a href="newar.jsp?urltype=news.NewsContentUrl&wbtreeid=1125&wbnewsid=7012" target="_blank" title="点击查看更多">学校被评为2023年省直部门预算编报工作...</a></li>
<li><span>2023-06-30</span><a href="info/1125/7003.htm" target="_blank" title="点击查看更多">关于变更财务负责人的通知</a></li>
</UL><script>_showDynClickBatch(['dynclicks_u3_7022','dynclicks_u3_7019','dynclicks_u3_7016','dynclicks_u3_7015','dynclicks_u3_7014','dynclicks_u3_7012','dynclicks_u3_7003'],[7022,7019,7016,7015,7014,7012,7003],"wbnews", 1462318662)</script>
</div>

                        <div><UL>
<li><span>2023-08-30</span><a href="newar.jsp?urltype=news.NewsContentUrl&wbtreeid=1128&wbnewsid=7032" target="_blank" title="点击查看更多">实验室与国有资产管理处关于到款信息的公告（08月30...</a></li>
<li><span>2023-07-12</span><a href="newar.jsp?urltype=news.NewsContentUrl&wbtreeid=1128&wbnewsid=7020" target="_blank" title="点击查看更多">实验室与国有资产管理处关于到款信息的公告（07月12...</a></li>
<li><span>2023-07-05</span><a href="newar.jsp?urltype=news.NewsContentUrl&wbtreeid=1128&wbnewsid=7013" target="_blank" title="点击查看更多">实验室与国有资产管理处关于到款信息的公告（07月05...</a></li>
<li><span>2023-06-28</span><a href="newar.jsp?urltype=news.NewsContentUrl&wbtreeid=1128&wbnewsid=7002" target="_blank" title="点击查看更多">实验室与国有资产管理处关于到款信息的公告（06月28...</a></li>
<li><span>2023-06-21</span><a href="newar.jsp?urltype=news.NewsContentUrl&wbtreeid=1128&wbnewsid=6995" target="_blank" title="点击查看更多">实验室与国有资产管理处关于到款信息的公告（06月21...</a></li>
<li><span>2023-06-14</span><a href="newar.jsp?urltype=news.NewsContentUrl&wbtreeid=1128&wbnewsid=6994" target="_blank" title="点击查看更多">实验室与国有资产管理处关于到款信息的公告（06月14...</a></li>
<li><span>2023-06-07</span><a href="newar.jsp?urltype=news.NewsContentUrl&wbtreeid=1128&wbnewsid=6985" target="_blank" title="点击查看更多">实验室与国有资产管理处关于到款信息的公告（06月07...</a></li>
</UL><script>_showDynClickBatch(['dynclicks_u4_7032','dynclicks_u4_7020','dynclicks_u4_7013','dynclicks_u4_7002','dynclicks_u4_6995','dynclicks_u4_6994','dynclicks_u4_6985'],[7032,7020,7013,7002,6995,6994,6985],"wbnews", 1462318662)</script>
</div>
   
                    </div>
                </div>
            </div>




            <!---->
            <div class="col-md-4  col-xs-12 animate" data-anim-type="fadeInUp" data-anim-delay="300">

                <div class="index_tab_b">

                    <ul class="index_tab">

                        <li onclick="changURL(21 , [22])"><a class="tabulous_active" title="点击查看更多" href="ggl/xwdt.htm" target="_blank">工作动态</a> </li>
                        <li onclick="changURL(22 , [21])"><a title="点击查看更多" href="zbjs/jsgz.htm" target="_blank">支部新闻</a> </li>
                        <a id="u21" class="index_tab_more" href="ggl/xwdt.htm" target="_blank">
                            <span class="more">more></span>
                        </a>
                        <a id="u22" class="index_tab_more" href="zbjs/jsgz.htm" target="_blank" style="display:none">
                            <span class="more">more></span>
                        </a>
                    </ul>

                    <div class="index_tab_c">

                        <div><UL>
<li><span>2023-09-02</span><a href="info/1126/7046.htm" target="_blank" title="省财政厅专家组莅临我校开展调研">省财政厅专家组莅临我校开展调研</a></li>
<li><span>2023-05-22</span><a href="info/1126/6968.htm" target="_blank" title="实验室与国有资产管理处核算、结算科室开展业务学习">实验室与国有资产管理处核算、结算科室开展业务学习</a></li>
<li><span>2023-05-04</span><a href="newar.jsp?urltype=news.NewsContentUrl&wbtreeid=1126&wbnewsid=6953" target="_blank" title="长江大学再获省预算绩效管理考核“优秀”等次">长江大学再获省预算绩效管理考核“优秀...</a></li>
<li><span>2023-04-28</span><a href="info/1126/6963.htm" target="_blank" title="实验室与国有资产管理处开展《关于进一步加强财会监督工作的意见》专题学习会">实验室与国有资产管理处开展《关于进一步加强财会监...</a></li>
<li><span>2023-04-26</span><a href="info/1126/6943.htm" target="_blank" title="加强一流学科专项资金管理 助力石油与天然气工程学科建设——学校召开一流学科建设专项资金预算执行推进会">加强一流学科专项资金管理 助力石油与天...</a></li>
<li><span>2023-04-20</span><a href="info/1126/6982.htm" target="_blank" title="学校召开银校合作工作专题会议">学校召开银校合作工作专题会议</a></li>
<li><span>2023-04-03</span><a href="info/1126/6921.htm" target="_blank" title="实验室与国有资产管理处核算、结算科室开展业务学习">实验室与国有资产管理处核算、结算科室开展业务学习</a></li>
</UL><script>_showDynClickBatch(['dynclicks_u5_7046','dynclicks_u5_6968','dynclicks_u5_6953','dynclicks_u5_6963','dynclicks_u5_6943','dynclicks_u5_6982','dynclicks_u5_6921'],[7046,6968,6953,6963,6943,6982,6921],"wbnews", 1462318662)</script>
</div>

                        <div><UL>
<li><span>2023-08-31</span><a href="newar.jsp?urltype=news.NewsContentUrl&wbtreeid=1123&wbnewsid=7044" target="_blank" title="实验室与国有资产管理处开展8月政治理论学习">实验室与国有资产管理处开展8月政治理论学习</a></li>
<li><span>2023-07-14</span><a href="newar.jsp?urltype=news.NewsContentUrl&wbtreeid=1123&wbnewsid=7042" target="_blank" title="实验室与国有资产管理处党支部开展7月主题党日活动">实验室与国有资产管理处党支部开展7月主题党日活动</a></li>
<li><span>2023-06-29</span><a href="info/1123/7017.htm" target="_blank" title="实验室与国有资产管理处党支部开展6月支部主题党日活动">实验室与国有资产管理处党支部开展6月支部主题党日活动</a></li>
<li><span>2023-05-19</span><a href="info/1123/6971.htm" target="_blank" title="实验室与国有资产管理处党支部开展5月支部主题党日活动">实验室与国有资产管理处党支部开展5月支部主题党日活动</a></li>
<li><span>2023-04-27</span><a href="info/1123/6965.htm" target="_blank" title="实验室与国有资产管理处党支部开展4月支部主题党日活动">实验室与国有资产管理处党支部开展4月支部主题党日活动</a></li>
<li><span>2023-04-27</span><a href="info/1123/6964.htm" target="_blank" title="实验室与国有资产管理处召开全处教职工大会暨4月份教职工政治理论学习会议">实验室与国有资产管理处召开全处教职工大会暨4月份教职工...</a></li>
<li><span>2023-03-23</span><a href="info/1123/6920.htm" target="_blank" title="实验室与国有资产管理处党支部召开2022年度组织生活会">实验室与国有资产管理处党支部召开2022年度组织生活会</a></li>
</UL><script>_showDynClickBatch(['dynclicks_u6_7044','dynclicks_u6_7042','dynclicks_u6_7017','dynclicks_u6_6971','dynclicks_u6_6965','dynclicks_u6_6964','dynclicks_u6_6920'],[7044,7042,7017,6971,6965,6964,6920],"wbnews", 1462318662)</script>
</div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!---->


    <!--财务系统入口-->
    <div class="index_admissions">
        <div class="container">
            <div class="row">

                <div class="col-md-12">
                    <!--   <div class="index_admissions_left animate" data-anim-type="fadeInLeft" data-anim-delay="">
                        <span><img alt="" src="images/01.png"></span>
                    </div>
                    <div class="index_admissions_right">
                        <a class="animate" href="http://pay.yangtzeu.edu.cn/xysf/" target="_blank" data-anim-type="bounceIn"
                            data-anim-delay="350" >
                            <i class="iconfont" style="font-size: 35px;">&#xe614;</i><span style="color:#72040B ;">网上综合缴费</span></a>
                    </div> -->
                    <!--  <div class="index_admissions_left animate" data-anim-type="fadeInLeft" data-anim-delay=""> -->
                    <!--  财务系统入口- -->
                    <!--   <span><img alt="" src="images/01.png"></span>
                    </div> 
                    -->
                    <div class="index_admissions_right">
                        <a class="animate" href="javascript:void(0)" data-anim-type="bounceIn" data-anim-delay="350">
                            <!--  <i class="iconfont" style="font-size: 35px;">&#xe981;</i><span style="color:#72040B ;">
                                系统入口</span> -->
                            <img alt="" src="images/01.png">
                        </a>
                        <a class="animate" title="长江大学统一缴费入口，包含缴纳学生学费、住宿费、标书费、等其他缴费的系统" href="http://10.10.6.122" target="_blank" data-anim-type="bounceIn" data-anim-delay="350">
                            <!--    <i class="iconfont" style="font-size: 35px;">&#xe614;</i> -->
                            <i> <img src="images/icon1.jpg" /></i>
                            <span title="长江大学统一缴费入口，包含缴纳学生学费、住宿费、标书费、等其他缴费的系统" style="color:#72040B ;">国有资产管理系统</span></a>
                        <a class="animate" title="财务综合办事平台，包含大帐项目授权、网上查询、网上报销、个收入申报、预算申报、文件自索以及其他事务等系统" href="http://10.10.6.122" target="_blank" data-anim-type="bounceIn" data-anim-delay="350">
                            <!--  <i class="iconfont" style="font-size: 35px;">&#xe60e;</i> -->
                            <i><img src="images/icon2.jpg" /></i>
                            <span title="财务综合办事平台，包含大帐项目授权、网上查询、网上报销、个收入申报、预算申报、文件自索以及其他事务等系统" style="color:#72040B ;">房产管理系统</span></a>
                        <a class="animate" title="横向科研综合平台，包含横项科研项目授权、横向科研帐查询、横向科研网上报销的系统" href="http://10.10.219.82" target="_blank" data-anim-type="bounceIn" data-anim-delay="350">

                            <!--         <i class="iconfont" style="font-size: 35px;">&#xe67c;</i> -->
                            <i> <img src="images/icon1.jpg" /></i>
                            <span title="横向科研综合平台，包含横项科研项目授权、横向科研帐查询、横向科研网上报销的系统" style="color:#72040B ;">大型仪器共享管理平台</span>

                        </a>
                        <a class="animate" title="长江大学医疗报销管理系统" href="http://10.94.4.240/" target="_blank" data-anim-type="bounceIn" data-anim-delay="350">

                            <!--         <i class="iconfont" style="font-size: 35px;">&#xe67c;</i> -->
                            <i> <img src="images/icon4.png" /></i>
                            <span title="长江大学医疗报销管理系统" style="color:#72040B ;">生命分析测试中心</span>

                        </a>
                        <img src="images/02.png" />
                        <!-- <a class="animate" href="https://inv-veri.chinatax.gov.cn/" target="_blank"
                            data-anim-type="bounceIn" data-anim-delay="600">
                            <i class="iconfont" style="font-size: 35px;">&#xe640;</i><span
                                style="color:#72040B ;">发票真伪查询</span></a>
                        <a class="animate" href="javascript:void(0)" target="_blank" data-anim-type="bounceIn"
                            data-anim-delay="650">
                            <i class="iconfont" style="font-size: 35px;">&#xe6b2;</i><span
                                style="color:#72040B ;">业务流程标准化</span></a>
                        <a class="animate" href="http://gjj.jingzhou.gov.cn/" target="_blank" data-anim-type="bounceIn"
                            data-anim-delay="700">
                            <i class="iconfont" style="font-size: 35px;">&#xe666;</i><span
                                style="color:#72040B ;">荆州住房公积金</span></a>
                        <a class="animate" href="javascript:void(0)" target="_blank" data-anim-type="bounceIn"
                            data-anim-delay="750">
                            <i class="iconfont" style="font-size: 35px;">&#xe638;</i><span
                                style="color:#72040B ;">会计核算标准化</span></a> -->
                    </div>

                </div>


            </div>
        </div>
    </div>
    <!--下一列-->

<!--     <div class="container">
        <div class="row">
            <div class="col-md-4  col-xs-12 animate" data-anim-type="fadeInUp" data-anim-delay="400">

                <a href="bmgl.htm" title="内控管理规范化，包含管理简介和实验室与国有资产管理处各部门的工作职责">
                <div class="index_tab_b" style="height: 220px;background-image: url(images/imglist1.jpg);background-size: cover;">
                
                    <p style="background-color: #72040B;height: 40px;line-height: 40px;color: #fff;margin-top: 0px;padding-left: 20px;text-align: center">
                        内控管理规范化</p>
               
                </div>
                </a>
            </div>

            <div class="col-md-4  col-xs-12 animate" data-anim-type="fadeInUp" data-anim-delay="400">

            <a href="bmfw/cwsc.htm" title="财务服务标准化，包含服务简介、办事指南、财务手册和服务指南等内容">
                <div class="index_tab_b" style="height: 220px;background-image: url(images/imglist2.jpg);background-size: cover;">
                    <p style="background-color: #72040B;height: 40px;line-height: 40px;color: #fff;margin-top: 0px;padding-left: 20px;text-align: center">
                        财务服务标准化</p>
                </div>
            </a>
            </div>
            <div class="col-md-4  col-xs-12 animate" data-anim-type="fadeInUp" data-anim-delay="400">
            <a href="http://10.10.218.241:8080/FINPortal/" target="_blank" title="资料索取便捷化，登录财务办公平台，在“财务资料索取”模块下，点击“资料申请”下载财务负责人资料及对外投标财务资料">
                <div class="index_tab_b" style="height: 220px;background-image: url(images/imglist3.jpg);background-size: cover;">
                    <p style="background-color: #72040B;height: 40px;line-height: 40px;color: #fff;margin-top: 0px;padding-left: 20px;text-align: center">
                        资料索取便捷化</p>
                </div>
            </a>
            </div>
        </div>
    </div> -->
    <!--下一列-->
    <div class="container">
        <div class="row">

            <div class="col-md-4  col-xs-12 animate" data-anim-type="fadeInUp" data-anim-delay="450">

                <div class="index_tab_b">

                    <ul class="index_tab">

                        <li onclick="changURL(31 , [32,33])"><a class="tabulous_active" title="点击查看更多" href="ggl/xxgk.htm" target="_blank">信息公开</a> </li>

                        <li onclick="changURL(32 , [31,33])"><a title="点击查看更多" href="xzzx.htm" target="_blank">下载中心</a> </li>
                        <a id="u31" class="index_tab_more" href="ggl/xxgk.htm" target="_blank">
                            <span class="more">more></span>
                        </a>
                        <a id="u32" class="index_tab_more" href="xzzx.htm" target="_blank" style="display:none">
                            <span class="more">more></span>
                        </a>
                    </ul>

                    <div class="index_tab_c">

                        <div><UL>
<li><span>2023-02-22</span><a href="https://czt.hubei.gov.cn/budget/?IhgKt6cDPAH3=1677224141694#/publish?name=%E9%95%BF%E6%B1%9F%E5%A4%A7%E5%AD%A6&level=%E9%83%A8%E9%97%A8&code=2023353&year=2023&yearBusiness=2023%E5%B9%B4%E9%A2%84%E7%AE%97&account=%E9%A2%84%E7%AE%97&areaCode=420000000" target="_blank" title="点击查看更多">长江大学2023年度部门预算信息公开目录</a></li>
<li><span>2022-08-31</span><a href="info/1127/6703.htm" target="_blank" title="点击查看更多">长江大学2021年度部门决算信息公开</a></li>
<li><span>2022-07-05</span><a href="newar.jsp?urltype=news.NewsContentUrl&wbtreeid=1127&wbnewsid=6681" target="_blank" title="点击查看更多">省级财政拨款项目2022年预算执行情况通...</a></li>
<li><span>2022-04-07</span><a href="newar.jsp?urltype=news.NewsContentUrl&wbtreeid=1127&wbnewsid=6573" target="_blank" title="点击查看更多">长江大学2022年部门预算公开表</a></li>
<li><span>2021-12-08</span><a href="info/1127/6432.htm" target="_blank" title="点击查看更多">省级财政拨款项目2021年预算执行情况通...</a></li>
<li><span>2021-11-01</span><a href="info/1127/6399.htm" target="_blank" title="点击查看更多">省级财政拨款项目2021年预算执行情况通...</a></li>
<li><span>2021-10-07</span><a href="info/1127/6369.htm" target="_blank" title="点击查看更多">省级财政拨款项目2021年预算执行情况通...</a></li>
</UL><script>_showDynClickBatch(['dynclicks_u7_6876','dynclicks_u7_6703','dynclicks_u7_6681','dynclicks_u7_6573','dynclicks_u7_6432','dynclicks_u7_6399','dynclicks_u7_6369'],[6876,6703,6681,6573,6432,6399,6369],"wbnews", 1462318662)</script>
</div>

                        <div><UL>
<li><span>2023-05-31</span><a href="newar.jsp?urltype=news.NewsContentUrl&wbtreeid=1111&wbnewsid=6984" target="_blank" title="点击查看更多">长江大学开户许可证</a></li>
<li><span>2023-05-18</span><a href="info/1111/4415.htm" target="_blank" title="点击查看更多">公务开支模板</a></li>
<li><span>2023-04-25</span><a href="newar.jsp?urltype=news.NewsContentUrl&wbtreeid=1111&wbnewsid=6942" target="_blank" title="点击查看更多">工程修缮类等项目预算管理相关要求(含附...</a></li>
<li><span>2023-03-13</span><a href="info/1111/6902.htm" target="_blank" title="点击查看更多">长江大学零星维修工程管理办法</a></li>
<li><span>2023-02-22</span><a href="info/1111/6874.htm" target="_blank" title="点击查看更多">银行账户变更通知书</a></li>
<li><span>2022-12-12</span><a href="info/1111/6832.htm" target="_blank" title="点击查看更多">长江大学分析测试费相关附件下载</a></li>
<li><span>2022-09-27</span><a href="info/1111/6721.htm" target="_blank" title="点击查看更多">实践教学外聘教师(单位)酬金发放表</a></li>
</UL><script>_showDynClickBatch(['dynclicks_u8_6984','dynclicks_u8_4415','dynclicks_u8_6942','dynclicks_u8_6902','dynclicks_u8_6874','dynclicks_u8_6832','dynclicks_u8_6721'],[6984,4415,6942,6902,6874,6832,6721],"wbnews", 1462318662)</script>
</div>

                    </div>
                </div>
            </div>

            <div class="col-md-4  col-xs-12 animate" data-anim-type="fadeInUp" data-anim-delay="450">

                <div class="index_tab_b">

                    <ul class="index_tab">

                        <li onclick="changURL(41 , [42,43])"><a class="tabulous_active" title="点击查看更多" class="a" href="zczd1/sjzc.htm" target="_blank">上级法规</a> </li>

                        <li onclick="changURL(42 , [41,43])"><a title="点击查看更多" class="a" href="zczd1/xxzd.htm" target="_blank">学校制度 </a> </li>


                      <a id="u41" class="index_tab_more" href="zczd1/sjzc.htm" target="_blank">
                          <span class="more">more></span>
                      </a>
                      <a id="u42" class="index_tab_more" href="zczd1/xxzd.htm" target="_blank" style="display:none">
                          <span class="more">more></span>
                      </a>
                    </ul>

                    <div class="index_tab_c">

                        <div class="index_tab_c1"><UL>
<li><span>2023-03-09</span><a href="http://www.gov.cn/xinwen/2023-02/15/content_5741628.htm" target="_blank" title="中共中央办公厅 国务院办公厅印发《关于进一步加强财会监督工作的意见》">中共中央办公厅 国务院办公厅印发《关于...</a></li>
<li><span>2022-10-24</span><a href="newar.jsp?urltype=news.NewsContentUrl&wbtreeid=1134&wbnewsid=6754" target="_blank" title="财政部关于印发《政府会计准则制度解释第5号》的通知">财政部关于印发《政府会计准则制度解释...</a></li>
<li><span>2022-10-24</span><a href="newar.jsp?urltype=news.NewsContentUrl&wbtreeid=1132&wbnewsid=6753" target="_blank" title="省财政厅关于进一步加强“三公”经费和一般性支出管理的通知">省财政厅关于进一步加强“三公”经费和...</a></li>
<li><span>2022-05-19</span><a href="info/1134/6630.htm" target="_blank" title="省财政厅关于2020年度省级部门决算工作情况的通报">省财政厅关于2020年度省级部门决算工作...</a></li>
<li><span>2022-05-19</span><a href="info/1132/6629.htm" target="_blank" title="湖北省财政厅关于印发省级党政机关公务支出管理正面清单的通知 鄂财函〔2021〕199号">湖北省财政厅关于印发省级党政机关公务...</a></li>
</UL><script>_showDynClickBatch(['dynclicks_u9_6892','dynclicks_u9_6754','dynclicks_u9_6753','dynclicks_u9_6630','dynclicks_u9_6629'],[6892,6754,6753,6630,6629],"wbnews", 1462318662)</script>

                            <!-- <div class="li-a">
                                <p> <span><a href="zczd1/sjzc/yszchz.htm" target="_blank">预算政策汇总</a></span>
                                    <span><a href="zczd1/sjzc/bxzchz.htm" target="_blank">报销政策汇总</a></span>
                                </p>
                                <p>
                                    <span><a href="zczd1/sjzc/sfzchz.htm" target="_blank">收费政策汇总</a></span>
                                    <span><a href="zczd1/sjzc/qtzhhz.htm" target="_blank">其他综合汇总</a></span>
                                </p>
                            </div> -->
</div>

                        <div><UL>
<li><span>2023-03-06</span><a href="info/1138/5146.htm" target="_blank" title="发票查询网站">发票查询网站</a></li>
<li><span>2022-04-08</span><a href="info/1138/6588.htm" target="_blank" title="关于印发《长江大学“双一流”建设项目资金管理办法》的通知【长大校发〔2019〕84号】">关于印发《长江大学“双一流”建设项目...</a></li>
<li><span>2022-04-08</span><a href="info/1135/6583.htm" target="_blank" title="关于印发长江大学全面实施预算绩效管理系列制度的通知【长大校发〔2020〕150 号】">关于印发长江大学全面实施预算绩效管理...</a></li>
<li><span>2021-11-16</span><a href="info/1136/6416.htm" target="_blank" title="长江大学校园卡资金管理办法">长江大学校园卡资金管理办法</a></li>
<li><span>2021-11-16</span><a href="info/1136/6415.htm" target="_blank" title="长江大学分析测试费管理办法">长江大学分析测试费管理办法</a></li>
</UL><script>_showDynClickBatch(['dynclicks_u10_5146','dynclicks_u10_6588','dynclicks_u10_6583','dynclicks_u10_6416','dynclicks_u10_6415'],[5146,6588,6583,6416,6415],"wbnews", 1462318662)</script>

                            <!-- <div class="li-a">
                                <p> <span><a href="zczd1/xxzd/yszdhz.htm" target="_blank">预算制度汇总</a></span>
                                    <span><a href="zczd1/xxzd/bxzdhz.htm" target="_blank">报销制度汇总</a></span>
                                </p>
                                <p>
                                    <span><a href="zczd1/xxzd/sfzdhz.htm" target="_blank">收费制度汇总</a></span>
                                    <span><a href="zczd1/xxzd/qtzhhz.htm">其他综合汇总</a></span>
                                </p>
                            </div> -->
</div>

                        <div>
                            <ul>

                                <li><span>01-04</span><a href="cug.html?urltype=news.NewsContentUrl&wbtreeid=1039&wbnewsid=3598" target="_blank" title="专用材料费包含哪些内容？报销有何规定？">专用材料费包含哪些内容？报销有何规定？</a></li>

                                <li><span>01-04</span><a href="cug.html?urltype=news.NewsContentUrl&wbtreeid=1039&wbnewsid=3597" target="_blank" title="办公费包含哪些内容？报销有何规定？">办公费包含哪些内容？报销有何规定？</a></li>

                                <li><span>01-04</span><a href="cug.html?urltype=news.NewsContentUrl&wbtreeid=1039&wbnewsid=3596" target="_blank" title="大额资金如何审批？">大额资金如何审批？</a></li>

                                <li><span>01-04</span><a href="cug.html?urltype=news.NewsContentUrl&wbtreeid=1039&wbnewsid=3595" target="_blank" title="票据如何粘贴？">票据如何粘贴？</a></li>

                                <li><span>01-04</span><a href="cug.html?urltype=news.NewsContentUrl&wbtreeid=1039&wbnewsid=3594" target="_blank" title="报销票据哪些需附明细、批件、事由等相关文件？">报销票据哪些需附明细、批件、事由等相关文件？</a>
                                </li>

                                <!-- <li><span>01-04</span><a
                                        href="cug.html?urltype=news.NewsContentUrl&wbtreeid=1039&wbnewsid=3593"
                                        target="_blank" title="票据遗失如何处理？">票据遗失如何处理？</a></li>

                                <li><span>01-04</span><a
                                        href="cug.html?urltype=news.NewsContentUrl&wbtreeid=1039&wbnewsid=3592"
                                        target="_blank" title="发票能否有涂改，如有应如何处理?">发票能否有涂改，如有应如何处理?</a></li>

                                <li><span>01-04</span><a
                                        href="cug.html?urltype=news.NewsContentUrl&wbtreeid=1039&wbnewsid=3591"
                                        target="_blank" title="如何取得合法有效的票据？">如何取得合法有效的票据？</a></li> -->

                            </ul>


                        </div>

                    </div>

                </div>
            </div>

            <div class="col-md-4  col-xs-12 animate" data-anim-type="fadeInUp" data-anim-delay="450">

                <div class="index_tab_b">

                    <ul class="index_tab">

                        <li><a class="tabulous_active" title="">工作流程</a> </li>

                        <!-- <li><a title="">开户信息</a> </li> -->

                        <a id="u51" class="index_tab_more" href="#" target="_blank" style="display:none">
                            <span class="more" style="display:none">more></span>
                        </a>
                      <!--   <a id="u52" class="index_tab_more" href="#" target="_blank" style="display:none">
                            <span class="more" style="display:none">more></span>
                        </a> -->
                    </ul>

                    <div class="index_tab_c">

                        <div class="index_tab_c1">
                            <script language="javascript" src="js/mp4video.js"></script>

                            <p><span style="color:#363636">
     国资处工作流程
</span>
<script>_showDynClickBatch(['dynclicks_u11_6628'],[6628],"wbnews", 1462318662)</script>
</p>
                                



                                <div id="baidu_Pastebin" style="position: absolute; width: 1px; height: 1px; overflow: hidden; left: -1000px; white-space: nowrap; top: 157px;">
                                </div>
                        </div>

                        <div class="index_tab_c1"><span style="color:#363636">
（一）农业银行<br />
单位名称：长江大学；
单位账号：17260401040001328；
开户银行名称：中国农业银行荆州长江大学支行；
开户银行行号: 103537026045<br />
（二）建设银行<br />
单位名称：长江大学；
单位账号：42001626337050000070（含外币转入）；
开户银行名称：中国建设银行股份有限公司荆州长江大学支行；
开户银行行号: 105537000172<br />
（三）工商银行<br />
单位名称：长江大学；
单位账号：1813096109200000808 
开户银行名称：中国工商银行股份有限公司荆州长江大学分理处；
开户银行行号: 102537010423<br />
</span>
<script>_showDynClickBatch(['dynclicks_u12_6628'],[6628],"wbnews", 1462318662)</script>
</div>

                        <div>
                            <ul>

                                <li><span>07-01</span><a href="javascript:void(0)" target="_blank" title="长江大学财政非税电子发票系统">长江大学财政非税电子发票系统</a></li>

                                <li><span>01-01</span><a href="https://inv-veri.chinatax.gov.cn" target="_blank" title="国家税务总局增值税发票真伪查询">国家税务总局增值税发票真伪查询</a></li>

                                <li><span>05-06</span><a href="info/1041/1038.htm" target="_blank" title="电子客票和行程单真伪查询">电子客票和行程单真伪查询</a></li>

                                <li><span>05-06</span><a href="info/1041/1039.htm" target="_blank" title="全国发票真伪查询">全国发票真伪查询</a></li>

                                <li><span>12-03</span><a href="http://geshui.youshang.com/" target="_blank" title="个人所得税计算器">个人所得税计算器</a></li>

                            </ul>


                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

     
    <!---->
    <div class="footer">

        <div class="container">
            
            
            <div class="pre_footer" style="border:0;">                  
            
            <div class="row">

                    <div class="col-md-4 col-xs-12 ">

                        <div class="sidepanel widget_text">
                            <h4 class="title">友情链接</h4>

                            <ul style="padding-bottom: 10px;">

                                <li><a href="http://www.yangtzeu.edu.cn/" target="_blank">长江大学官网</a> </li>

                                <li><a href="http://gjj.jingzhou.gov.cn/" target="_blank">荆州住房公积金官网</a> </li>

                                <li><a href="https://inv-veri.chinatax.gov.cn/" target="_blank">国税局增值税发票查验</a> </li>


                            </ul>
                            <h4 class="title">技术支持</h4>
                            <p>国资处综合科</p>

                       
                        </div>
                    </div>

                    <div class="col-md-4 col-xs-12 ">

                        <div class="sidepanel widget_text">

                            <h4 class="title">联系我们</h4>

                            <p>联系地址：湖北荆州市南环路1号<br>邮政编码：434000
                                <br>联系电话：0716-8060862<br>办公邮箱：cwc@yangtzeu.edu.cn<br>
                                办公地点：东校区行政楼三楼 </p>
                        </div>
                    </div>

                    <div class="col-md-4 col-xs-12  text-center">

                        <div class="sidepanel widget_text">

                            <h4 class="title" style="text-align: left;padding-left: 4%;">长江大学实验室与国有资产管理处</h4>

                            <!-- <div class="col-md-6 col-xs-6 text-center" style="text-align: left;width: 168px;">
                                <img alt="" src="images/e1.jpg" style="width :100%;">
                                <span class="span">长江大学微信公众号</span> </div> -->

                            <div class="col-md-6 col-xs-6 text-center" style="text-align: left;width: 168px;margin-left:25px">
                                <img alt="" width=" 100%" src="images/e2.png">
                                <span class="span">&nbsp;&nbsp;国资处微信公众号</span> 
                            </div>
                        </div>
                    </div>
                </div></div>
        </div>
        <p style="border:0;text-align: center;background-color:#0b45b8;color: #fff;height: 40px;line-height: 40px;margin: 0;">
            Copyright©2020-2021　长江大学实验室与国有资产管理处　All Rights Reserved</p>
    </div>




    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/modules.js"></script>
    <script type="text/javascript" src="js/theme.js"></script>
    <link rel="stylesheet" href="css/share.min.css">
    <script src="js/jquery.share.min.js"></script>
    <script>
        $('#share-2').share({
            sites: ['qzone', 'qq', 'weibo', 'wechat']
        });
    </script>
    <script src="js/owl.carousel.js"></script><!-- Demo -->

    <style>
        #owl-demo .item img {

            display: block;

            width: 100%;

            height: auto;}
    </style>

    <script>
        function changURL(id, ids) {

            $("#u" + id).css("display", '');

            for (var i = 0; i < ids.length; i++) {

                $("#u" + ids[i]).css("display", 'none');

            }
        }

        $(document).ready(function () {

            $("#owl-demo script").remove();
            $("#owl-demo").owlCarousel({

                navigation: true,

                slideSpeed: 300,

                paginationSpeed: 400,

                singleItem: true,
                autoPlay: 7000,
                stopOnHover:true

                // "singleItem:true" is a shortcut for:

                // items : 1, 

                // itemsDesktop : false,

                // itemsDesktopSmall : false,

                // itemsTablet: false,

                // itemsMobile : false

            });


            $('.index_tab_b .index_tab li a').hover(function () {

                $(this).parents('.index_tab').find('li a').removeClass('tabulous_active').addClass(
                    'tabulous_activen');

                $(this).addClass('tabulous_active');

                $(this).parents('.index_tab_b').find('.index_tab_c>div').hide();

                $(this).parents('.index_tab_b').find('.index_tab_c>div').eq($(this).parent()
                        .index())
                    .show().addClass('animate fadeInUp');

                $(this).parents('.index_tab_b').find('.index_tab_more').hide();

                $(this).parents('.index_tab_b').find('.index_tab_more').eq($(this).parent().index())
                    .show();

                setTimeout(removeClass, 500);

            });

            function removeClass() {

                $('.index_tab_c>div').not('.index_tab_c1').removeClass();
            }
        });

        ///imgshow
        $(document).ready(function () {
            $('#myCarousel').carousel({
                interval: 7000
            });
            $('#myCarousel').carousel('cycle');
        });
    </script>
    <!--Vue js-->
    <!--  <script src="js/app.js"></script> -->
    <script src="js/search.js"></script>
</body>

</html>
